/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* BODY BASE */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f1f5f9; /* same color everywhere */
}

/* OPTIONAL: remove Vite defaults */
a {
  text-decoration: none;
}
